
<div id="sign-up" class="flex w-full items-center justify-center mt-10">
    <form class="flex flex-col space-y-4 md:w-1/2">
        <div class="flex">
            <label for="username" class="w-1/4 md:w-1/6">USERNAME:</label>
            <input type="text" class="w-3/4 border border-black w-4/6 p-2 rounded">
        </div>
        <div class="flex">
            <label for="email" class="w-1/4 md:w-1/6">EMAIL:</label>
            <input type="email" class="w-3/4 border border-black w-4/6 p-2 rounded">
        </div>
        <div class="flex">
            <label for="password" class="w-1/4 md:w-1/6">PASSWORD:</label>
            <input type="password" class="w-3/4 border border-black w-4/6 p-2 rounded">
        </div>
        <div class="flex">
            <label for="confirmpassword" class="w-1/4 md:w-1/6">CONFIRM PASSWORD:</label>
            <input type="password" class="w-3/4 border border-black w-4/6 p-2 rounded">
        </div>
        <div class="flex-flex-justify-start items-center">
            <button class="bg-background text-dark px-8 py-2 rounded">Sign Up</button>
        </div>
        <p>Already registered?
            <a [routerLink]="['/signin']">Login</a>
        </p>
    
    </form>
</div>