
<div class="fixed inset-0 flex items-center justify-center bg-opacity-50 bg-gray-500">
    <div class="bg-white p-8 rounded-lg shadow-lg">
        <div>
            <form action="" [formGroup]="answerForm">
                <h2 class="text-2xl font-mono font-bold mb-4">Answer Question</h2>
                <div class="m-3">
                    <label for="" class=" text-xl font-mono font-bold uppercase">Answer</label>
                    <input class="shadow-inner p-2 w-full leading-loose border-4 border-lime-500 border-opacity-75" type="text"  placeholder="questiontitle">
                </div>
                <div class="m-3">
                    <label for="" class=" text-xl font-mono font-bold uppercase">Answer Explanation</label>
                    <div class="border-4 border-lime-500 border-opacity-75 shadow-inner">
                        <ckeditor [editor]="Editor" tagName="textarea"></ckeditor>
                    </div>                    
                </div>
                <div class="flex flex-wrap justify-around">
                    <button class="bg-sky-700 text-white text-lg px-4 py-2 mt-4 rounded hover:bg-zinc-950" (click)="closeanswerModal()">Close</button>
                    <button type="submit" class="bg-green-700 text-white text-lg px-4 py-2 mt-4 rounded hover:bg-fuchsia-950">Submit</button>
                </div>
            </form>        
        </div>        
    </div>
</div>






<!-- <div id="forgot" class="flex w-full items-center justify-center mt-5 bg-yellow-50">
    <form class="flex flex-col space-y-4 md:w-1/2 mb-4 mt-4" [formGroup]="answerForm">
        <div class="flex flex-col items-center">
            <label for="name" class="w-1/4 md:w-1/6 font-semibold text-2xl">Answer </label>
            <p class="flex-grow italic">Be specific and imagine you’re asking a question to another person</p>
            <input type="text" class="w-full shadow-sm flex-grow border border-black p-2 rounded-lg
             focus:ring-blue-500 focus:border-blue-500" formControlName="answer">
             <span class="text-red-500" *ngIf="!answerForm.get('answer')?.valid && answerForm.get('answer')?.touched">answer is required</span>

        </div> 
        
        <div class="flex flex-col items-center">
            <div><label for="name" class="w-1/4 md:w-1/6 font-semibold text-2xl">Elaborate Answer</label>
                <p class="flex-grow italic">Include all the information someone would need to understand your answer</p>
            </div>                      
            <ckeditor [editor]="Editorred" data='<p>Type the content here</p>' tagName="textarea" formControlName="answertext"></ckeditor>
            <span class="text-red-500" *ngIf="!answerForm.get('answertext')?.valid && answerForm.get('answertext')?.touched">answer elaboration is required</span>

        </div>        
        
        <div class="flex justify-start items-center">
            <button class="bg-green-400 text-dark px-8 py-2 rounded">Submit Answer</button>
        </div>    
    </form>
</div> -->