
<section id="landing" class="bg-center bg-no-repeat bg-blend-multiply">
    <div class="px-4 mx-auto max-w-screen-xl text-center py-2 lg:py-1">   
        <!-- <div id="navidivs" class="">
            <button [routerLink]="'signin'" class="bg-green-800 text-4xl text-white rounded-md p-3 m-5 motion-reduce:animate-bounce">Login Here</button>
            <button [routerLink]="'signup'" class="bg-sky-800 text-4xl text-white rounded-md p-3 m-5 motion-reduce:animate-bounce">Register</button>
        </div>  -->
    </div>
    
</section>


