
<section id="landing" class="bg-center bg-part bg-no-repeat bg-gray-300 bg-blend-multiply">
    <div class="px-4 mx-auto max-w-screen-xl text-center py-2 lg:py-1">
        <h6 class="text-2xl font- bold tracking-tight leading-none text-dark md:text-2xl lg:text-3xl">
            Welcome to SOCRATES Q&A 
            The place where you find great minds with big ideas and your questions are answered from all perspectives
        </h6>

        <!-- <h5 class="mb-4 text-3xl font-bold tracking-tight leading-none text-white md:text-3xl lg:text-4xl">
            The place where you find great minds with big ideas and your questions are answered from all perspectives
        </h5> -->
        
        <p class="mb-8 text-lg font-bold text-gray-700 lg:text-xl sm:px-16 lg:px-48">
            to get started!!
        </p> 
        
        <div id="navidivs">
            <button [routerLink]="'signin'">Login Here</button>
            <button [routerLink]="'signup'">Sign-UP</button>
        </div> 
    </div>
    
</section>


