

<div *ngIf="questions">
    <div *ngFor="let qt of questions" id="questions-div"   class="p-6 border border-gray-200 
    rounded-lg shadow-xl hover:shadow-slate-950 shadow-inner bg-indigo-100/30 dark:border-gray-700 m-3 mb-5">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-800 ">{{qt.qtitle}}</h5>
        <p class="mb-3 font-normal text-gray-700 bg-gray-200/60 text-2xl text-fuchsia-900">{{qt.qbody}}</p>
        <div class="flex flex-wrap justify-center gap-4">
            <div *ngFor="let qa of getTagsforQuestion(qt.qid)" class="m-2" >
                <p class="font-bold text-xl text-green-800 border-4 shadow-xl shadow-inner p-2">{{qa.tname}}</p>
            </div>
        </div>
        <div class="flex flex-wrap justify-around">
            <button [routerLink]="[qt.qid]" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Read More <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
            <button (click)="editQuestion()" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-lime-700 rounded-lg hover:bg-lime-950 focus:ring-4 focus:outline-none focus:ring-lime-700 dark:bg-lime-700 dark:hover:bg-lime-700 dark:focus:ring-lime-700">
                Update <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 15" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                    <!-- <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path> -->
                </svg>
            </button>
        </div>
        
        
    </div>
</div>




    
    
