.tags-input {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 4px;
    border: 2px solid #ccc;
}

.tags-input input[type="text"]
{
    /* flex: 1; */
    /* border: none;
    outline: none; */
}
.tags-input .tags-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px;
}

.tags-input .tag {
    padding: 4px 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.tags-input .tag span{
    margin-right: 4px;
}

.tags-input .tag .remove-tag{
    cursor: pointer;
    color: #888;
}

.tags-input .tag .remove-tag:hover{
    color: #555;
}


